@charset "UTF-8";
body  {
	margin: 0; /* it's good practice to zero the margin and padding of the body element to account for differing browser defaults */
	padding: 0;
	text-align: center; /* this centers the container in IE 5* browsers. The text is then set to the left aligned default in the #container selector */
	color: #000000;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 100%;
	background-color: #666;
}
.twoColFixLtHdr #container { 
	width: 780px;  /* using 20px less than a full 800px width allows for browser chrome and avoids a horizontal scroll bar */
	background: #FFFFFF;
	margin: 0 auto; /* the auto margins (in conjunction with a width) center the page */
	border: 1px solid #000000;
	text-align: left; /* this overrides the text-align: center on the body element. */
} 
.twoColFixLtHdr #header {
	background: #DDDDDD;
	padding: 0 10px 0 20px;  /* this padding matches the left alignment of the elements in the divs that appear beneath it. If an image is used in the #header instead of text, you may want to remove the padding. */
	font-family: Verdana, Arial, Helvetica, sans-serif;
} 
.twoColFixLtHdr #header h1 {
	margin: 0; /* zeroing the margin of the last element in the #header div will avoid margin collapse - an unexplainable space between divs. If the div has a border around it, this is not necessary as that also avoids the margin collapse */
	padding: 10px 0;
	font-weight: bold;
	font-size: 3em;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	color: #f6921c;
}
.twoColFixLtHdr #sidebar1 {
	float: left; /* since this element is floated, a width must be given */
	width: 200px; /* the actual width of this div, in standards-compliant browsers, or standards mode in Internet Explorer will include the padding and border in addition to the width */
	background: #EBEBEB; /* the background color will be displayed for the length of the content in the column, but no further */
	padding: 15px 10px 15px 20px;
	font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
	font-style: italic;
	font-size: 110%;
}
.twoColFixLtHdr #mainContent {
	margin: 0 0 0 250px; /* the left margin on this div element creates the column down the left side of the page - no matter how much content the sidebar1 div contains, the column space will remain. You can remove this margin if you want the #mainContent div's text to fill the #sidebar1 space when the content in #sidebar1 ends. */
	padding: 0 20px; /* remember that padding is the space inside the div box and margin is the space outside the div box */
	font-family: Verdana, Arial, Helvetica, sans-serif;
	color: #f6921c;
} 
.twoColFixLtHdr #footer {
	padding: 0 10px 0 20px;
	background-color: #EBEBEB;
} 
.twoColFixLtHdr #footer p {
	margin: 0; /* zeroing the margins of the first element in the footer will avoid the possibility of margin collapse - a space between divs */
	padding: 10px 0; /* padding on this element will create space, just as the the margin would have, without the margin collapse issue */
	font-size: 75%;
	font-family: Verdana, Arial, Helvetica, sans-serif;
}
.fltrt { /* this class can be used to float an element right in your page. The floated element must precede the element it should be next to on the page. */
	float: right;
	margin-left: 8px;
}
.fltlft { /* this class can be used to float an element left in your page */
	float: left;
	margin-right: 8px;
}
.clearfloat { /* this class should be placed on a div or break element and should be the final element before the close of a container that should fully contain a float */
	clear:both;
    height:0;
    font-size: 1px;
    line-height: 0px;
}
#heading_main {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 3em;
	font-weight: bold;
	font-variant: normal;
	color: #F6921c;
}
#heading2_main {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 0.8em;
	font-weight: bold;
	color: #666;
}
#header #MenuBar1 li .MenuBarItemSubmenu {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	color: #333;
	font-size: 1em;
	font-weight: bold;
}
.twoColFixLtHdr #container #sidebar1 div p em {
	font-size: 150%;
}
.twoColFixLtHdr #container #sidebar1 div p em {
	font-size: 125px;
}
.twoColFixLtHdr #container #sidebar1 div p em {
	font-size: 9px;
}
.twoColFixLtHdr #container #sidebar1 div p em {
	font-size: small;
}
.twoColFixLtHdr #container #sidebar1 div p em {
	font-size: larger;
}
h1 {
	color: #f6921c;
	font-size: 200%;
	font-family: Verdana, Arial, Helvetica, sans-serif;
}
.twoColFixLtHdr #container #mainContent p {
	color: #333;
	font-family: Verdana, Arial, Helvetica, sans-serif;
}
.twoColFixLtHdr #container #header table tr th {
	color: #333;
	font-size: .5em;
	font-family: Verdana, Arial, Helvetica, sans-serif;
}
.twoColFixLtHdr #container #header table tr th {
	font-size: .4em;
	font-family: Verdana, Arial, Helvetica, sans-serif;
}
.twoColFixLtHdr #container #header table tr th {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 0.8em;
	font-weight: lighter;
	color: #333;
}
#info_bar {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 70%;
	font-weight: lighter;
	color: #CCC;
}
#sidebar_contact {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 70%;
	font-weight: lighter;
	color: #333;
	text-align: center;
	font-style: normal;
}
.sidebar_contact_h1 {
	font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
	font-style: italic;
	font-weight: bold;
	color: #333;
	font-size: 110%;
	text-align: center;
}
#h2_strikethru {
	text-decoration: line-through;
}
#h1_faq {
	font-size: 195%;
}
#table_display {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 150%;
	font-weight: bold;
}
.table_display {
	font-size: 150%;
	font-weight: bold;
}
.sidebar_text_long {
	font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
	font-size: 100%;
	color: #333;
	font-style: italic;
	text-align: left;
	font-weight: normal;
}
.sidebar_contact_h2 {
	font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
	font-style: italic;
	color: #333;
	text-align: left;
	font-weight: bold;
	text-decoration: underline;
}
.Spry_Coll_Panel_qu {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 100%;
	font-weight: bold;
	color: #333;
	background-color: #CCC;
	border: 1px solid #333;
}
#sidebar2 {
	float: left; /* since this element is floated, a width must be given */
	width: 10px; /* the actual width of this div, in standards-compliant browsers, or standards mode in Internet Explorer will include the padding and border in addition to the width */
	background: #EBEBEB; /* the background color will be displayed for the length of the content in the column, but no further */
	padding: 15px 10px 15px 20px;
	font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
	font-style: italic;
	font-size: 110%;
}
#mainContent2 {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	color: #333;
	width: 730px;
	font-size: 100%;
	margin-top: 0;
	margin-right: 0;
	margin-bottom: 0;
	margin-left: 0px;
	padding-top: 0;
	padding-right: 25px;
	padding-bottom: 0;
	padding-left: 25px;
}
#spry_table_display {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 100%;
	font-weight: bold;
	color: #333;
	text-align: left;
}
.twoColFixLtHdr #container_bottom {
	width: 750px;  /* using 20px less than a full 800px width allows for browser chrome and avoids a horizontal scroll bar */
	background: #FFFFFF;
	margin: 20 right;
	text-align: left;
	border-top-color: #000000;
	border-right-color: #000000;
	border-bottom-color: #000000;
	border-left-color: #000000;
}
